@import '../../styles/themes/default';

.side-bar-container {
  width: 100%;
  height: 100%;
  padding: 169px 0 50px;
  box-sizing: border-box;
  background: @color-primary;
  -webkit-app-region: drag;
}

.logo-container {
  width: 100%;
  height: 169px;
  margin-top: -169px;
  padding: 32px 0 16px;
  text-align: center;
  overflow: hidden;
  .logo-img-wrap {
    -webkit-app-region: no-drag;
  }
  .logo-label {
    margin: 15px 0;
    span {
      color: @text-color;
      font-size: 18px;
      font-weight: bold;
      -webkit-app-region: no-drag;
    }
  }
}

.menu-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  .ant-menu {
    -webkit-app-region: no-drag;
  }
}

.footer-container {
  width: 100%;
  height: 50px;
  margin-bottom: -50px;
  background: @color-primary;
  overflow: hidden;
  .footer-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 32px;
    color: @text-color;
    .version {
      font-size: 12px;
      -webkit-app-region: no-drag;
    }
    .link-wrap {
      cursor: pointer;
      -webkit-app-region: no-drag;
    }
  }
}